header {
  background-color: #868e96;
}

.align-center {
  align-items: center;
}

@media screen and (max-width: $small) {
  .small-center {
    margin: auto;
  }
}

footer {
  div {
    div {
      background-color: #ccc;
    }
  }
}

.bg {
  @each $name, $background-color in $variants-list {
    &--#{$name} {
      background-color: $background-color;
      border: 2px solid darken($background-color, 30%);
    }
  }
}

@mixin round-button($border-radius) {
  @extend %btn;
  border-radius: $border-radius;
}

.btn--round {
  @include round-button(5px);
}

.btn--round--10 {
  @include round-button(10px);
}

.btn--round--15 {
  @include round-button(15px);
}

.btn--round--20 {
  @include round-button(20px);
}
